<html>
<head>
    <title>Aplikasi Maintenance Employee</title>
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
</head>
<body>
<div class="container">

  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand"><h3>Aplikasi Maintenance Employee</h3></a>
    <form class="form-inline">
      <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#myModal">Tambah Data Employee</button>
    </form>
  </nav>

